<div class="container"></div>
<h1>Chat em Tempo Real</h1>
<div>
<input type="text" id="message-input" placeholder="Digite uma mensagem..." />
<button onclick="sendMessage()">Enviar</button>
</div>
<div id="chat-box"></div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>